/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input{
  border: 0px;
  background-color: #FEF5E2;
  padding: 5px 15px;
  border-radius: 10px;
}
.ingredienteHamburger{
  background-color: #D33359;
}

/* Body */
body{
  background-color: #FEF5E2;
}

header{
  background-color: #FDBB40;
  width: 50%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}
header h1{
  align-self: center;
  margin-left: 30px;
}
header img{
  height: 175px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
}

main{
  background-color: white;
  width: 50%;
  height: 77vh;
}
main .contenitore{
  margin-left: 30px;
}
main .contenitore .name{
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}
main .contenitore .name h2{
  margin-top: 0;
}
main .contenitore .name input{
  margin-left: 10px;
}

main .contenitore .contenitore-ingredienti{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}
main .contenitore .contenitore-ingredienti .ingrediente{
  width: 50%;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li{
  list-style: none;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li img{
  height: 50px;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li input{
  color: #D33359;
}

/* STYLING CHECKMARK */
main .contenitore .contenitore-ingredienti .ingrediente ul li .contenitore-check{
  position: relative;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li input{
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
  border: 1px solid green;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li .contenitore-check .checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #D33359;
}
main .contenitore .contenitore-ingredienti .ingrediente ul li label{
  padding-left: 30px;
  color: #D33359;
}
.contenitore .contenitore-ingredienti .ingrediente ul li input:checked ~ .checkmark {
  background-color: #D33359;
}
.checkmark:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  display: none;
  margin-left: 3px;
  color: black;
}
.contenitore-check input:checked ~ .checkmark:after {
  display: block;
}
/* FINE STYLING CHECKMARK */

main .contenitore .discount {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 30px; */
  margin-bottom: 20px;
}
main .contenitore .discount h4{
  /* width: 30%; */
}
main .contenitore .discount input{
  width: 70%;
  margin-left: 10px;
}
main .contenitore .bottone{
  display: flex;
  justify-content: center;
}
main .contenitore .bottone a{
  color: black;
  font-weight: bold;
}
main .contenitore .bottone a button{
  background-color: #FDBB40;
  border: 1px solid #FDBB40;
  padding: 15px 25px;
  border-radius: 10px;
}




footer{
  background-color: #D33359;
  color: white;
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3{
  margin-left: 30px;
}
footer h2{
  margin-right: 30px;
}
